{% extends "base.html" %}

{% block content %}
<style>
    .error-container {
        text-align: center;
        margin-top: 50px;
    }

    .error-heading {
        font-size: 3rem;
        font-weight: bold;
        color: #ff9900;
        margin-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .error-image {
        max-width: 300px;
        margin: 20px auto;
        display: block;
        border-radius: 2rem;
    }
</style>

<div class="error-container">
    <h1 class="error-heading">{{ _('404 - Page Not Found') }}</h1>

    <img src="{{ url_for('static', filename='images/dog-404.gif') }}" alt="404 Not Found" class="error-image">

    <button class="btn-primary p-3 rounded-2"><a href="{{ url_for('main.index') }}"
            class="text-white text-decoration-none">{{ _('Go Back Home') }}</a></button>
</div>
{% endblock %}